{% extends 'default.html' %}
{% load i18n %}

{% block title %}
{% trans 'Публикация статьи' %}
{% endblock title %}

{% block content %}
<style>
    body {background-color: {% if current_time.hour >= 19 or current_time.hour <= 7 %} darkcyan {% else %} powderblue {% endif %};}
</style>
<h1>{% trans 'Публикация статьи' %}</h1>
<hr>
<form action="" method="post">
    {% csrf_token %}
    {% if count_of_authors_posts < 3 %}
    {{ form.as_p }}
    <input type="submit" value="Опубликовать"/>
    {% else %}
    <p>{% trans 'Достигнут лимит по количеству публикуемых новостей и статей на сегодня.' %}</p>
    {% endif %}
</form>
{% endblock content %}