{% extends 'default.html' %}
{% load i18n %}

{% block title %}
{% trans 'Удаление статьи' %}
{% endblock title %}

{% block content %}
<style>
    body {background-color: {% if current_time.hour >= 19 or current_time.hour <= 7 %} darkcyan {% else %} powderblue {% endif %};}
</style>
<h1>{% trans 'Удаление статьи' %}</h1>
<hr>
<form action="" method="post">
    {% csrf_token %}
    {% if object.article_or_news == 'AR' %}
    <p>{% trans 'Удалить' %} "{{ object.name }}"?</p>
        <input type="submit" value="Удалить"/>
    {% else %}
    <p>"{{ object.name }}" {% trans 'не является статьёй' %}.</p>
    {% endif %}
</form>
{% endblock content %}