{% extends 'default.html' %}

{% load custom_filters %}

{% block title %}
Новости и статьи
{% endblock title %}


{% block content %}
{% if is_not_authors %}
<button><a href="http://127.0.0.1:8000/news/upgrade/">Стать автором</a></button>
{% endif %}
<button><a href="http://127.0.0.1:8000/news/culture_subscribe/">Подписаться</a></button>
<h1>Количество всех новостей и статей в категории "Культура": {{ culture|length }}</h1>
<hr>
{% if culture %}
<table>
    <tr>
        <td>Заголовок</td>
        <td>Дата публикации</td>
        <td>Текст (первые 20 слов)</td>
    </tr>
    {% for c in culture %}
    <tr>
        <td>{{ c.name|censor }}</td>
        <td>{{ c.datetime_of_creation|date:'d M Y' }}</td>
        <td>{{ c.text|truncatewords:20|censor }}</td>
    </tr>
    {% endfor %}
</table>
{% else %}
<h2>Новостей и статей нет! По крайней мере, на сегодня.</h2>
{% endif %}


{% if page_obj.has_previous %}
<a href="?page=1">1</a>
{% if page_obj.previous_page_number != 1 %}
...
<a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
{% endif %}
{% endif %}

{{ page_obj.number }}

{% if page_obj.has_next %}
<a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
{% if paginator.num_pages != page_obj.next_page_number %}
...
<a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
{% endif %}
{% endif %}
{% endblock content %}
