{% extends 'default.html' %}
{% load i18n %}

{% load custom_filters %}

{% block title %}
{% trans 'Новости и статьи' %}
{% endblock title %}


{% block content %}
{% if is_not_authors %}
<button><a href="http://127.0.0.1:8000/news/upgrade/">{% trans 'Стать автором' %}</a></button>
{% endif %}
<button><a href="http://127.0.0.1:8000/news/culture_subscribe/">{% trans 'Подписаться' %}</a></button>
<h1>{% trans 'Количество всех новостей и статей в категории Культура' %}: {{ culture|length }}</h1>
<hr>
{% if culture %}
<table>
    <tr>
        <td>{% trans 'Заголовок' %}</td>
        <td>{% trans 'Дата публикации' %}</td>
        <td>{% trans 'Текст (первые 20 слов)' %}</td>
    </tr>
    {% for c in culture %}
    <tr>
        <td>{{ c.name|censor }}</td>
        <td>{{ c.datetime_of_creation|date:'d M Y' }}</td>
        <td>{{ c.text|truncatewords:20|censor }}</td>
    </tr>
    {% endfor %}
</table>
{% else %}
<h2>{% trans 'Новостей и статей нет! По крайней мере, на сегодня.' %}</h2>
{% endif %}


{% include 'pagination.html' %}
{% endblock content %}
