{% extends 'default.html' %}
{% load i18n %}

{% block title %}
{% trans 'Удаление новости' %}
{% endblock title %}

{% block content %}
<h1>{% trans 'Удаление новости' %}</h1>
<hr>
<form action="" method="post">
    {% csrf_token %}
    {% if object.article_or_news == 'NE' %}
    <p>{% trans 'Удалить' %} "{{ object.name }}"?</p>
    <input type="submit" value="Удалить"/>
    {% else %}
    <p>"{{ object.name }}" {% trans 'не является новостью' %}.</p>
    {% endif %}
</form>
{% endblock content %}