{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %}
Posts
{% endblock title %}


{% block content %}
<h1>Количество всех новостей: {{ posts|length }}</h1>
<hr>
{% if posts %}
    <table>
        <tr>
            <td>Заголовок</td>
            <td>Дата публикации</td>
            <td>Текст (первые 20 слов)</td>
        </tr>
        {% for post in posts %}
        <tr>
            <td>{{ post.name|censor }}</td>
            <td>{{ post.datetime_of_creation|date:'d M Y' }}</td>
            <td>{{ post.text|truncatewords:20|censor }}</td>
        </tr>
        {% endfor %}
    </table>
{% else %}
    <h2>Новостей нет! По крайней мере, на сегодня.</h2>
{% endif %}
{% endblock content %}