{% extends 'default.html' %}
{% load i18n %}

{% load custom_filters %}

{% block title %}
{% if post.article_or_news == 'NE' %}
{% trans 'Новость' %}
{% else %}
{% trans 'Статья' %}
{% endif %}
{% endblock title %}


{% block content %}
<style>
    body {background-color: {% if current_time.hour >= 19 or current_time.hour <= 7 %} darkcyan {% else %} powderblue {% endif %};}
</style>
{% if is_not_authors %}
<button> <a href="upgrade/">{% trans 'Стать автором' %}</a> </button>
{% endif %}
<table>
    <tr>
        <td>{% trans 'Заголовок' %}</td>
        <td>{% trans 'Дата публикации' %}</td>
        <td>{% trans 'Текст' %}</td>
    </tr>
    <tr>
        <td>{{ post.name|censor }}</td>
        <td>{{ post.datetime_of_creation|date:'d M Y' }}</td>
        <td>{{ post.text|censor }}</td>
    </tr>
</table>
{% endblock content %}
