{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %}
{% if post.article_or_news = 'NE' %}
Новость
{% else %}
Статья
{% endif %}
{% endblock title %}


{% block content %}
<table>
    <tr>
        <td>Заголовок</td>
        <td>Дата публикации</td>
        <td>Текст</td>
    </tr>
    <tr>
        <td>{{ post.name|censor }}</td>
        <td>{{ post.datetime_of_creation|date:'d M Y' }}</td>
        <td>{{ post.text|censor }}</td>
    </tr>
</table>
{% endblock content %}