{% extends 'default.html' %}
{% load i18n %}

{% load custom_filters %}

{% block title %}
{% trans 'Новости и статьи' %}
{% endblock title %}


{% block content %}
<style>
    body {background-color: {% if current_time.hour >= 19 or current_time.hour <= 7 %} darkcyan {% else %} powderblue {% endif %};}
</style>
{% if is_not_authors %}
<button><a href="upgrade/">{% trans 'Стать автором' %}</a></button>
{% endif %}
<h1>{% trans 'Количество всех новостей и статей на этой странице' %}: {{ posts|length }}</h1>
<hr>
{% if posts %}
<table>
    <tr>
        <td>{% trans 'Заголовок' %}</td>
        <td>{% trans 'Дата публикации' %}</td>
        <td>{% trans 'Текст (первые 20 слов)' %}</td>
    </tr>
    {% for post in posts %}
    <tr>
        <td>{{ post.name|censor }}</td>
        <td>{{ post.datetime_of_creation|date:'d M Y' }}</td>
        <td>{{ post.text|truncatewords:20|censor }}</td>
    </tr>
    {% endfor %}
</table>
{% else %}
<h2>{% trans 'Новостей и статей нет! По крайней мере, на сегодня.' %}</h2>
{% endif %}


{% include 'pagination.html' %}
{% endblock content %}