{% extends 'default.html' %}
{% load i18n %}

{% load custom_filters %}

{% block title %}
{% trans 'Новости и статьи' %}
{% endblock title %}


{% block content %}
<style>
    body {background-color: {% if current_time.hour >= 19 or current_time.hour <= 7 %} darkcyan {% else %} powderblue {% endif %};}
</style>
{% if is_not_authors %}
<button><a href="http://127.0.0.1:8000/news/upgrade/">{% trans 'Стать автором' %}</a></button>
{% endif %}
<button><a href="http://127.0.0.1:8000/news/tech_subscribe/">{% trans 'Подписаться' %}</a></button>
<h1>{% trans 'Количество всех новостей и статей в категории Технологии' %}: {{ tech|length }}</h1>
<hr>
{% if tech %}
<table>
    <tr>
        <td>{% trans 'Заголовок' %}</td>
        <td>{% trans 'Дата публикации' %}</td>
        <td>{% trans 'Текст (первые 20 слов)' %}</td>
    </tr>
    {% for t in tech %}
    <tr>
        <td>{{ t.name|censor }}</td>
        <td>{{ t.datetime_of_creation|date:'d M Y' }}</td>
        <td>{{ t.text|truncatewords:20|censor }}</td>
    </tr>
    {% endfor %}
</table>
{% else %}
<h2>{% trans 'Новостей и статей нет! По крайней мере, на сегодня.' %}</h2>
{% endif %}


{% include 'pagination.html' %}
{% endblock content %}
